/*General Styles*/
body {
    color: #000;
    font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
}

#content{
  background-color: #ddd;
}

.block-title {
  color: #ddd;
}

/* Header Styles */
#site_name {
    color: #000;
    margin-top: 0px;
    margin-bottom: 0px;
}

.title {
    color: #000;
}

/* Navigation */

#navigation ul.menu li a {
  font-weight: bold;
}

#navigation ul.menu li a.active, #navigation ul.menu li a:hover {
  color: #508991;
}

/*Content and Specific Styles */
#content p {
  color: #000;
  font-size: 1.2em;
}

a, a:link, a:visited, #footer a {
    font-weight: bold;
  color: #508991;
}

#main img {
    max-width: 700px;
    height: auto;
}

#breadcrumb {
    background-color: #C0BCB5;
}

.submitted {
    background-color: #d3d3d3;
}

/*Forms */
input {
  height: 35px;
}

input#edit-submit:hover {
    color: #508991;
}


/*Portfolio Page */
.view-portfolio .views-field.views-field-title {
    font-size: 1.5em;
}

/*page slider*/
.slidertitle {
    background-color: #074F57;
}
.slidertext{
    background-color: #508991;
}
