body {
    color: #000;
    font-size: 1.2em;
}


#site_name {
    color: #000;
    margin-top: 0px;
    margin-bottom: 0px;
}

.title {
    color: #000;
}

#content{
  background-color: #ddd;
}

#content p {
  color: #000;
  font-size: 1.2em;
}

a, a:link, a:visited, #footer a {
    font-weight: bold;
  color: #508991;
}

#navigation ul.menu li a {
    font-weight: bold;
}

#navigation ul.menu li a.active, #navigation ul.menu li a:hover {
    color: #508991;
}

#main img {
    max-width: 700px;
    height: auto;
}

#breadcrumb {
    background-color: #C0BCB5;
}

.submitted {
    background-color: #d3d3d3;
}

/*page slider*/
.slidertitle {
    background-color: #074F57;
}
.slidertext{
    background-color: #508991;
}
